header{
    text-align: center;
    color: #3f51b5;
    font-size: larger;
}
a{
    text-decoration: none;
    color: white;
    background-color: #3f51b5;
    padding: 10px;
    border-radius: 20px;
    padding: 10px;
}
